html, 
body {
    background-color: rgb(225, 225, 225);
    font-family: 'Helvetica', sans-serif;
    overflow: hidden;
    font-size: 62.5%;
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
}

button {
    background-color: rgb(45, 45, 45);
    color: rgb(225, 225, 225);
    box-shadow: 1px 2px 4px rgba(25, 25, 25, 0.5);
    font-size: 2rem;
    padding: 0.5rem 1rem;
}

button:focus,
button:active, 
input:focus, 
select:focus {
    border: 2px solid rgba(70, 125, 215, 0.8);
}

input, 
select {
    background-color: rgb(60, 60, 60);
    color: rgb(245, 245, 245);
    text-align: center;
    box-shadow: 1px 2px 4px rgba(25, 25, 25, 0.5);
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 3.5rem;
}

select {
    width: 6rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-weight: normal;
    font-size: 2rem
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(195, 195, 195); 
}

::-webkit-scrollbar-thumb {
    background: rgb(60, 60, 60); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(75, 75, 75); 
}

#app {
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%;
    font-size: 2rem;
}

.interactable {
    cursor: pointer;
}

.time {
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    margin: 1rem auto;
}

.date {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem auto;
}

.docs {
    background-color: rgb(125, 15, 175);
    box-shadow: 1px 2px 4px rgba(25, 25, 25, 0.3);
    border-radius: 0 0 1rem 0;
    display: inline-block;
    position: absolute;
    top: 1rem;
    left: 0;
    padding: 0.75rem 1rem;
    transition: 350ms ease-out;
}

.docs:hover {
    padding-left: 2rem;
}

.docs > * {
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.autosave {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    font-size: 1.5rem;
    border-radius: 2rem;
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    padding: 0.75rem 1.25rem;
    transition: 350ms ease-out;
}

.autosave--active {
    background-color: rgb(240, 165, 25);
    color: rgb(245, 245, 245);
    box-shadow: 1px 2px 4px rgba(25, 25, 25, 0.3);
}

.option {
    padding: 0.25rem 0;
}

.option__button {
    display: inline-block;
}

.option__button:hover button {
    animation: shake 350ms;
}

@keyframes shake {
    0% {transform: translateX(0);}
    25% {transform: translateX(4px);}
    50% {transform: translateX(-6px);}
    75% {transform: translateX(3px);}
    100% {transform: translateX(0);}
}

.button--create {
    background-color: rgb(25, 160, 75);
    color: rgb(245, 245, 245);
    width: 18rem;
    padding: 1rem 0;
    border-radius: 2rem;
}

.button--reset {
    background-color: rgb(180, 0, 0);
    color: rgb(245, 245, 245);
    width: 18rem;
    padding: 1rem 0;
    border-radius: 2rem;
}

.category {
    box-shadow: 1px 2px 5px rgba(25, 25, 25, 0.8);
    border-radius: 4px;
    overflow: hidden;
    width: 90%;
    min-width: 780px;
    max-width: 920px;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}

.category__button {
    text-align: center;
    padding: 2rem 0;
}

.category__header {
    background-color: rgb(245, 245, 245);
    color: rgb(45, 45, 45);
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.75rem 1rem;
}

.category__headerBreak {
    background-color: rgba(25, 25, 25, 0.6);
    height: 1px;
    width: 100%;
}

.category__content {
    background-color: rgb(245, 245, 245);
}

.category__footer {
    background-color: rgb(215, 215, 215);
    font-size: 3rem;
    text-align: center;
    padding: 0.25rem 0;
}

.category__footer:hover,
.category__footer:focus {
    background-color: rgb(25, 160, 75);
    color: rgb(245, 245, 245);
    transition: 150ms ease-out;
}

.category__record {
    display: flex;
}

.category__time {
    display: inline-block;
    text-align: center;
    margin: 0 1rem;
}

.category__timePair {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

.category__totalHours {
    font-weight: bold;
    font-size: 1.75rem;
    padding: 0.75rem 1rem;
}

.time__break {
    font-weight: bold;
    padding: 0 2px;
}

.time__selection {
    margin-left: 0.5rem;
}

.record__rowTime {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.totalHours {
    background-color: rgb(215, 215, 215);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 5rem;
}

.totalHours-wrapper {
    position: relative;
    margin-top: 5rem;
}

.totalHours__text {
    font-weight: bold;
    display: inline-block;
}

.totalHours__hours {
    display: inline-block;
}
